* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background-color: #f4f6f9;
    color: #333;
}

header {
    background: #0d47a1;
    padding: 15px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: white;
    font-size: 28px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;

}

nav ul li a:hover {
    background-color: #1976d2;
}

section {
    padding: 40px;
    max-width: 1300px;
    margin: auto;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #0d47a1;
}

h3 {
    margin-top: 30px;
    color: #1565c0;
    font-size: 24px;
}

p {
    margin-bottom: 20px;
    text-align: justify;
}

ul {
    margin-left: 20px;
    margin-top: 15px;
}

ul li {
    margin-bottom: 10px;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.images img {
    width: 100%;
    height: 250px;
    border-radius: 12px;
}


@media (max-width: 1024px) {
    .images {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 12px;
    }

    nav h1 {
        font-size: 22px;
    }

    section {
        padding: 20px;
    }

    .images {
        grid-template-columns: 1fr;
    }

    .images img {
        height: 200px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    nav h1 {
        font-size: 20px;
    }

    nav ul li a {
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 13px;
    }
}