* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background-color: #f4f6f9;
    color: #333;
}

header {
    background: #0d47a1;
    padding: 15px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: white;
    font-size: 28px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;

}

nav ul li a:hover {
    background-color: #1976d2;
}

fieldset {
    max-width: 600px;
    margin: 30px auto;
    padding: 25px;
    border: none;
    background-color: #c3cece;
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #1976d2;
    margin: 10px 0;
    text-align: center;
}

ul {
    margin-left: 20px;
    margin-top: 15px;
}

ul li {
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
    color: #555;
}

label {
    font-weight: 600;
    font-size: 14px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

form a {
    display: block;
    margin: 5px 0;
    color: #0d6efd;
    text-decoration: none;
    font-size: 14px;
}

form a:hover {
    text-decoration: underline;
}

b {
    margin-top: 10px;
    display: inline-block;
}

.link {
    font-weight: bold;
    color: #333;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background-color: #1976d2;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #093c6f;
}

@media (max-width: 1024px) {
    fieldset {
        max-width: 90%;
    }
}

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    nav h1 {
        font-size: 22px;
    }

    nav ul {
        flex-direction: column;
        gap: 12px;
    }

    nav ul li a {
        font-size: 16px;
    }

    fieldset {
        padding: 20px;
        margin: 20px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 13px;
    }

    input,
    textarea {
        font-size: 14px;
    }

    button {
        font-size: 15px;
        padding: 10px;
    }
}

@media (max-width: 600px) {
    nav h1 {
        font-size: 20px;
    }

    nav ul li a {
        font-size: 14px;
    }

    fieldset {
        padding: 15px;
        margin: 15px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
    }
}