* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background-color: #f4f6f9;
    color: #333;
}

header {
    background: #0d47a1;
    padding: 15px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: white;
    font-size: 28px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;

}

nav ul li a:hover {
    background-color: #1976d2;
}

section {
    max-width: 1300px;
    margin: 30px auto;
    padding: 25px;

}

h2 {
    margin: 10px 0;
    font-size: 28px;
    color: #363535;
}

section>img:first-of-type {
    width: 100%;
    height: 550px;
    border-radius: 8px;
    margin-top: 2px;
}

p {
    text-align: justify;
    margin-bottom: 25px;
    font-size: 15px;
}

section img {
    width: 400px;
    height: 300px;
    margin: 15px 0;
    border-radius: 8px;
    justify-content: center;
    display: flex;
}

ul {
    margin-left: 20px;
    margin-top: 15px;
}

ul li {
    margin-bottom: 10px;
}

#pokhara {
    display: flex;
    gap: 15px;
}

.city {
    color: #198754;
    font-size: 20px;
    font-weight: bold;
}

#ktm {
    display: flex;
    gap: 15px;
}

#chitwan {
    display: flex;
    gap: 15px;
}

#ilam {
    display: flex;
    gap: 15px;
}

@media (max-width: 1024px) {

    #pokhara,
    #ktm,
    #chitwan,
    #ilam {
        flex-wrap: wrap;
        justify-content: center;
    }

    section img {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }

    section>img:first-of-type {
        height: auto;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {

    nav h1 {
        font-size: 22px;
    }

    nav ul li a {
        font-size: 16px;
    }

    h2 {
        font-size: 22px;
        text-align: center;
    }

    .city {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    #pokhara,
    #ktm,
    #chitwan,
    #ilam {
        flex-direction: column;
        align-items: center;
    }

    section img {
        grid-template-columns: 1fr 1fr;

    }

    section>img:first-of-type {
        height: auto;
    }

    p {
        font-size: 14px;
        line-height: 1.6;
    }

    section {
        padding: 10px;
    }
}

@media (max-width: 600px) {

    nav h1 {
        font-size: 20px;
    }

    nav ul li a {
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 13px;
    }
}